./libs/**/*.js linguist-vendored
./libs/**/*.css linguist-vendored

*.css linguist-vendored
*.js linguist-vendored
./assets/**/*.css linguist-generated
./assets/**/*.js linguist-generated
./assets/google_fonts linguist-generated

package.json eol=lf
package-lock.json eol=lf
libs/** eol=lf
syntaxes/*.json eol=lf
