*.vsix
.vscode/.browse.VC.db*
/.vscode-test/
/node_modules/
/dist/
/out/
/scripts/languageserver/julia_pkgdir/lib/
/scripts/languageserver/julia_pkgdir/compiled/
/scripts/languageserver/julia_pkgdir/logs/
/libs/plotter/plotter.css.map
.sass-cache
