[submodule "scripts/languageserver/packages/JSON"]
	path = scripts/languageserver/packages/JSON
	url = https://github.com/JuliaIO/JSON.jl.git
[submodule "scripts/languageserver/packages/LanguageServer"]
	path = scripts/languageserver/packages/LanguageServer
	url = https://github.com/julia-vscode/LanguageServer.jl.git
[submodule "scripts/languageserver/packages/URIParser"]
	path = scripts/languageserver/packages/URIParser
	url = https://github.com/JuliaWeb/URIParser.jl.git
[submodule "scripts/languageserver/packages/CSTParser"]
	path = scripts/languageserver/packages/CSTParser
	url = https://github.com/julia-vscode/CSTParser.jl.git
[submodule "scripts/languageserver/packages/Tokenize"]
	path = scripts/languageserver/packages/Tokenize
	url = https://github.com/JuliaLang/Tokenize.jl.git
[submodule "scripts/languageserver/packages/DocumentFormat"]
	path = scripts/languageserver/packages/DocumentFormat
	url = https://github.com/julia-vscode/DocumentFormat.jl
[submodule "scripts/languageserver/packages/StaticLint"]
	path = scripts/languageserver/packages/StaticLint
	url = https://github.com/julia-vscode/StaticLint.jl
[submodule "scripts/languageserver/packages/SymbolServer"]
	path = scripts/languageserver/packages/SymbolServer
	url = https://github.com/julia-vscode/SymbolServer.jl.git
[submodule "scripts/languageserver/packages/FilePathsBase"]
	path = scripts/languageserver/packages/FilePathsBase
	url = https://github.com/rofinn/FilePathsBase.jl.git
[submodule "scripts/tasks/sysimageenv/PackageCompiler"]
	path = scripts/tasks/sysimageenv/PackageCompiler
	url = https://github.com/JuliaLang/PackageCompiler.jl.git
