[submodule "scripts/packages/JSON"]
	path = scripts/packages/JSON
	url = https://github.com/JuliaIO/JSON.jl.git
[submodule "scripts/packages/LanguageServer"]
	path = scripts/packages/LanguageServer
	url = https://github.com/julia-vscode/LanguageServer.jl.git
[submodule "scripts/packages/URIParser"]
	path = scripts/packages/URIParser
	url = https://github.com/JuliaWeb/URIParser.jl.git
[submodule "scripts/packages/CSTParser"]
	path = scripts/packages/CSTParser
	url = https://github.com/julia-vscode/CSTParser.jl.git
[submodule "scripts/packages/Tokenize"]
	path = scripts/packages/Tokenize
	url = https://github.com/JuliaLang/Tokenize.jl.git
[submodule "scripts/packages/StaticLint"]
	path = scripts/packages/StaticLint
	url = https://github.com/julia-vscode/StaticLint.jl
[submodule "scripts/packages/SymbolServer"]
	path = scripts/packages/SymbolServer
	url = https://github.com/julia-vscode/SymbolServer.jl.git
[submodule "scripts/packages/FilePathsBase"]
	path = scripts/packages/FilePathsBase
	url = https://github.com/rofinn/FilePathsBase.jl.git
[submodule "scripts/packages/JuliaInterpreter"]
	path = scripts/packages/JuliaInterpreter
	url = https://github.com/JuliaDebug/JuliaInterpreter.jl.git
[submodule "scripts/packages/CodeTracking"]
	path = scripts/packages/CodeTracking
	url = https://github.com/timholy/CodeTracking.jl.git
[submodule "scripts/packages/JSONRPC"]
	path = scripts/packages/JSONRPC
	url = https://github.com/julia-vscode/JSONRPC.jl.git
[submodule "scripts/packages/DebugAdapter"]
	path = scripts/packages/DebugAdapter
	url = https://github.com/julia-vscode/DebugAdapter.jl.git
[submodule "scripts/packages/LoweredCodeUtils"]
	path = scripts/packages/LoweredCodeUtils
	url = https://github.com/JuliaDebug/LoweredCodeUtils.jl.git
[submodule "scripts/packages/OrderedCollections"]
	path = scripts/packages/OrderedCollections
	url = https://github.com/JuliaCollections/OrderedCollections.jl.git
[submodule "scripts/packages/CoverageTools"]
	path = scripts/packages/CoverageTools
	url = https://github.com/JuliaCI/CoverageTools.jl
[submodule "scripts/packages/IJuliaCore"]
	path = scripts/packages/IJuliaCore
	url = https://github.com/JuliaLang/IJuliaCore.jl.git
[submodule "scripts/packages/Crayons"]
	path = scripts/packages/Crayons
	url = https://github.com/KristofferC/Crayons.jl.git
[submodule "scripts/packages/DataStructures"]
	path = scripts/packages/DataStructures
	url = https://github.com/JuliaCollections/DataStructures.jl.git
[submodule "scripts/packages/CommonMark"]
	path = scripts/packages/CommonMark
	url = https://github.com/MichaelHatherly/CommonMark.jl.git
[submodule "scripts/packages/JuliaFormatter"]
	path = scripts/packages/JuliaFormatter
	url = https://github.com/domluna/JuliaFormatter.jl.git
[submodule "scripts/packages/Compat"]
	path = scripts/packages/Compat
	url = https://github.com/JuliaLang/Compat.jl.git
[submodule "scripts/packages/URIs"]
	path = scripts/packages/URIs
	url = https://github.com/JuliaWeb/URIs.jl.git
[submodule "libs/jl-profile"]
	path = libs/jl-profile
	url = https://github.com/pfitzseb/jl-profile.js.git
[submodule "scripts/packages/Revise"]
	path = scripts/packages/Revise
	url = https://github.com/timholy/Revise.jl
[submodule "scripts/packages/TestEnv"]
	path = scripts/packages/TestEnv
	url = https://github.com/JuliaTesting/TestEnv.jl
[submodule "scripts/packages/DelimitedFiles"]
	path = scripts/packages/DelimitedFiles
	url = https://github.com/JuliaData/DelimitedFiles.jl
[submodule "scripts/packages-old/Compat"]
	path = scripts/packages-old/Compat
	url = https://github.com/JuliaLang/Compat.jl
[submodule "scripts/packages-old/Crayons"]
	path = scripts/packages-old/Crayons
	url = https://github.com/KristofferC/Crayons.jl
[submodule "scripts/packages/Glob"]
	path = scripts/packages/Glob
	url = https://github.com/vtjnash/Glob.jl
[submodule "scripts/packages/JuliaSyntax"]
	path = scripts/packages/JuliaSyntax
	url = https://github.com/JuliaLang/JuliaSyntax.jl
[submodule "scripts/packages/JuliaWorkspaces"]
	path = scripts/packages/JuliaWorkspaces
	url = https://github.com/julia-vscode/JuliaWorkspaces.jl
[submodule "scripts/packages/PrecompileTools"]
	path = scripts/packages/PrecompileTools
	url = https://github.com/JuliaLang/PrecompileTools.jl
[submodule "scripts/packages/Preferences"]
	path = scripts/packages/Preferences
	url = https://github.com/JuliaPackaging/Preferences.jl
[submodule "scripts/packages/Salsa"]
	path = scripts/packages/Salsa
	url = https://github.com/davidanthoff/Salsa.jl
[submodule "scripts/packages/ExceptionUnwrapping"]
	path = scripts/packages/ExceptionUnwrapping
	url = https://github.com/JuliaServices/ExceptionUnwrapping.jl
[submodule "scripts/packages/MacroTools"]
	path = scripts/packages/MacroTools
	url = https://github.com/FluxML/MacroTools.jl
[submodule "scripts/packages/AutoHashEquals"]
	path = scripts/packages/AutoHashEquals
	url = https://github.com/JuliaServices/AutoHashEquals.jl
[submodule "scripts/packages-old/v1.7/AutoHashEquals"]
	path = scripts/packages-old/v1.7/AutoHashEquals
	url = https://github.com/JuliaServices/AutoHashEquals.jl
[submodule "scripts/packages/TestItemServer"]
	path = scripts/packages/TestItemServer
	url = https://github.com/julia-vscode/TestItemServer.jl
[submodule "scripts/packages/TestItemDetection"]
	path = scripts/packages/TestItemDetection
	url = https://github.com/julia-vscode/TestItemDetection.jl
[submodule "scripts/packages-old/v1.5/JuliaInterpreter"]
	path = scripts/packages-old/v1.5/JuliaInterpreter
	url = https://github.com/JuliaDebug/JuliaInterpreter.jl
[submodule "scripts/packages-old/v1.5/LoweredCodeUtils"]
	path = scripts/packages-old/v1.5/LoweredCodeUtils
	url = https://github.com/JuliaDebug/LoweredCodeUtils.jl
[submodule "scripts/packages-old/v1.5/Revise"]
	path = scripts/packages-old/v1.5/Revise
	url = https://github.com/timholy/Revise.jl
[submodule "scripts/packages/CancellationTokens"]
	path = scripts/packages/CancellationTokens
	url = https://github.com/davidanthoff/CancellationTokens.jl
