.vscode/**
.vscode-test/**
out/**
src/**
node_modules/**
.gitignore
tsconfig.json
webpack.config.js
scripts/languageserver/julia_pkgdir/**
scripts/testenvironments
CONTRIBUTING.md
*.vsix
azure-pipelines.yml
README-insider.md
projectmanagement
